
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body >
<form action="/profile" >
    <div class="profile-pic">
        <img src="{{ url_for('static', filename='assets/images/defaultpic')}}" alt="Profile Picture">
        <link >Change Profile Pic</link>

    </div>

    <div>
        <label>User Name</label>
        <output>{{ session.uname }}</output>
    </div>
     <div>
        <label>Email</label>
        <output>{{ session.email }}</output>
    </div>
    </form>
</body>
</html>